<div class="retour">
  <button class="button-card soft" [routerLink]="['/ListeQuestionPage']">Retour</button>
</div>
<div class="page">
<div id="fillForm" class="card">
  
    <h1>Créer une nouvelle question</h1>
    <form class="question-form" [formGroup]="questionForm">
      <label for="title" class="section">
        <h3>Question</h3>
        <input class="input-custom" type="text" id="label" formControlName="label"><br>
        <h3>Thèmes</h3>
        <input class="input-custom" type="text" id="theme" formControlName="themes">
        <button class="button-card" (click)="addTheme()"> Ajouter</button><br>
        <div id="ThemeList" *ngFor="let theme of this.themes">
          <button class="button-card" (click)="deleteTheme(theme)"> Retirer {{theme}}</button>
        </div>
      </label>
        <div class="section">
        <h3>Réponses</h3>
        <div id="answer_part"formArrayName="answers">
          <div [formGroupName]="0">
            <input class="input-custom" type="text" placeholder = "réponse 1" id="name" formControlName="value"><br><br>
          </div>
          <div [formGroupName]="1">
            <input class="input-custom" type="text" placeholder = "réponse 2" id="name" formControlName="value"><br><br>
          </div>
          <div [formGroupName]="2">
            <input class="input-custom" type="text" placeholder = "réponse 3" id="name" formControlName="value"><br><br>
          </div>
          <div [formGroupName]="3">
            <input class="input-custom" type="text" placeholder = "réponse 4" id="name" formControlName="value"><br><br>
          </div>
        </div>
      <fieldset>
        <legend>Cocher la bonne réponse:</legend>
        <div>

          <input type="radio" name="answer" id="Choice1" (change)="onAnswerSelected(0)" />
          <label for="Choice1">1</label>

          <input type="radio" name="answer" id="Choice2" (change)="onAnswerSelected(1)" />
          <label for="Choice2">2</label>

          <input type="radio" name="answer" id="Choice3" (change)="onAnswerSelected(2)" />
          <label for="Choice3">3</label>

          <input type="radio" name="answer" id="Choice4" (change)="onAnswerSelected(3)" />
          <label for="Choice4">4</label>
        </div>
      </fieldset>
      <label for="estFacile">
        <h3>Question facile</h3>
        <label class="switch">
          <input class="switch choice" type="checkbox" id="estFacile" formControlName="estFacile">
          <span class="switch_handle"></span>
        </label>
      </label>
      </div>
      <button *ngIf="!getEdit()" type="submit" class="button-card soft submitButton" (click)="addQuestion()" [routerLink]="['/ListeQuestionPage']">Créer</button>
      <button *ngIf="getEdit()" type="submit" class="button-card soft submitButton" (click)="updateQuestion()" [routerLink]="['/ListeQuestionPage']">Modifier</button>
      <button class="button-card soft submitButton" [routerLink]="['/ListeQuestionPage']">Annuler</button>

    </form>
</div>

  <div class="card">
    <h2>Apercu de la question</h2>
    <div class = "preview">
      <app-GameQuestion [answer_selected]="true" [question]="getPreview()"></app-GameQuestion>
    </div>
  </div>
</div>
