@import "../../../../variable.scss";
div{

  align-items: center;
  color: $c_white;
}


h2{
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  color:$c_white;
  
}

.input-custom{
  width: 33vw;
  margin: 1vw;
}

label{
  color:$c_white;
  align-items: center;
}


.edit {
  margin-left: 0.3em;
  align-items: center;
 
}

legend{
  color: $c_white;
  align-items: center;
}

#fillForm{
  display: block;
}

#answer_part{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
