<ng-container *ngIf="quizReady">
  <div class="popupBack" [ngStyle]="{'display': quitPopup ? 'flex' : 'none'}">
    <div class="popup" >
      <h1>Voulez-vous continuer le Quiz ?</h1>
      <!-- button with label test that put popup visibility to none on click -->
      <button (click)="hidepopup()">Continuer</button>
      <button (click)="hidepopup();quitQuiz()">Arrêter</button>
    </div>
  </div>

    <div [ngStyle]="{'filter': quitPopup ? 'blur(5px)' : 'none'}">

    <h1>{{quiz.name}}</h1>


    <app-GameQuestion (nextQuestion)="validateQuestion($event)" [answer_selected]="validate"
      [question]="currentQuestion"></app-GameQuestion>

  <footer>
    <button *ngIf="!validate && !user.answerDisplay && currentQuestionIndex!=0" type="submit" class="previous"
      (click)="onPreviousQuestion()">Question precedente</button>
    <button *ngIf="validate && !end" type="submit" class="next" (click)="NextQuestion()">Question suivante</button>
    <button *ngIf="validate && end" type="submit" class="next" (click)="endQuiz()">finir le quiz</button>
    <button *ngIf="!validate" type="submit" class="next" (click)="SkipQuestion()">Passer la question</button>
    </footer>

  </div>
</ng-container>