.popup {
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  background-color :$c_textColorfff;
  // put in the middle of the screen
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  //align the button inside at the center
  display: flex;
  flex-direction: column;
  align-items: center;
  //hide the popup
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-end;
}

label {
  margin: 10px 0;
  color :$c_textColor;
  display: flex;
}

span{
  display: flex;
  flex-direction: column;
  margin-left: 10px; 
  color :$c_textColor;
  font-size: 20px;
}

h1 {
  color :$c_textColor;
}


