$primary-color: #1c611f;

header {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span{
  color: #fff;
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2 {
  color: #fff;
  margin-top: 30px;
  text-align: center;
}

label {
  margin: 10px 0;
  color: #fff;
  display: flex;
}

input[type="b"] {
  margin-right: 50px;
}

button {
  background-color: gray;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3a3939;
  cursor: pointer;
}

button.submit {
  background-color: $primary-color;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 30px;
  align-self: flex-end;
}

footer {
  background-color: $primary-color;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.popup {
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  background-color: #ffffff;
  // put in the middle of the screen
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  //align the button inside at the center
  display: flex;
  flex-direction: column;
  align-items: center;
  //hide the popup
}

// h1 in popup
.popup h1 {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.music{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
