.popup {
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  background-color: #ffffff;
  // put in the middle of the screen
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  //align the button inside at the center
  display: flex;
  flex-direction: column;
  align-items: center;
  //hide the popup
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(5px);
}

// h1 in popup
.popup h1 {
  color: #000000;
  text-align: center;
  margin-top: 20px;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  align-items: flex-end;
}

.music{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

label {
  margin: 10px 0;
  color: #fff;
  display: flex;
}

footer button {
  background-color: gray;
  border: none;
  color: #fff;
  padding: 10px 20px;
  margin-top: 30px;
  margin-right: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

footer button:hover {
  background-color: #3a3939;
  cursor: pointer;
}


.switch {
  position: relative;
  display: flex; 
  align-items: center; 
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: grey;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}
.music{
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  align-items: center;
  margin-left: 10px;
}
span{
  display: flex;
  flex-direction: column;
  margin-left: 10px; 
  color: #fff;
  font-size: 20px;
}

h1 {
  color: #fff;
}
 

