<h1>Page des questions</h1>
<div>
    <button class="button-card" [routerLink]="['/MenuChoixCreation']" (click)="playBackSound()">Retour</button>
    <button class="button-card" [routerLink]="['/ChoixTypeQuestion']" (click)="playAddSound()">Ajouter une question</button>
</div>
<div>
    <button class="button-card" (click)="changeAffichage()">Trier par theme</button>
    <h2>: {{this.theme}}</h2>
</div>
<app-ListeTheme *ngIf="afficheTheme" (themeSelected)="chooseTheme($event)"> </app-ListeTheme>
<button class="button-card" (click)="annulerTheme()">Annuler la recherche</button>
<app-ListeQuestion [theme]="this.theme"> </app-ListeQuestion>
