* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #222831;
}

h1 {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 50px;
}

.button-card {
  font-size: 24px;
  height: 30vh;
  width: 60vw;
  font-size: calc(0.6rem + 3vw);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
