@import "../../../../variable.scss";

h1,h2{
    color :$c_textColor;
    margin-top: 30px;
    text-align: center;
}

div{
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    height: 100%;
}


.userquizzes{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    height: 100%;
}

span{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}
/*
input{
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}*/


.addButton{
    margin-top:0;
}
.formC {
  width: 75%;
  //center
  margin: 0 auto;
  //border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  margin: 0;
  color:$c_textColor;
  position: relative;
  left: 12.5%;
  border: solid 1px $c_textColor;
}
