<button [routerLink]="['/ListeUserPage']"(click)="playBackSound()">Retour</button>
<button [routerLink]="['/UserStatsPage']"(click)="switchPage()">Stats</button>

<ng-container *ngIf="userReady">
<form [formGroup]="modifs" class="formC card">

  <div>
    <input class="name" type="text" [value]="UserModified.surname" [placeholder]="UserModified.surname"
      [formControlName]="'surname'" />
    <input class="name" type="text" [value]="UserModified.name" [placeholder]="UserModified.name" [formControlName]="'name'" />
  </div>
  <div>
    <h2>Agressivité de l'utilisateur </h2>
    <input type="range" class="slider" name="Name" min="0" max="1" value={{UserModified.aggressivness}} step="0.1"
      [formControlName]="'aggressivness'" />
  </div>
  <div>
    <h2>Temps d'attente avant détection de l'ennui</h2>
    <input type="range" class="slider" name="Name" min="0" max="1" step="0.1" [formControlName]="'passivity'" />
  </div>
  <div class="input-checkbox">
    <h2>Afficher les réponses justes</h2>
    <label class="switch">
      <input class="input-custom" type="checkbox" id="answerDisplay" [formControlName]="'answerDisplay'">
      <span class="switch_handle"></span>
    </label>
  </div>
  <h2>Liste des musiques</h2><br>
  <div>
    <input class="input-custom" type="text" id="music" >
    <button class="addButton" (click)="addMusic()"> Ajouter</button>
  </div>
  <div *ngFor="let music of UserModified.music">
    <button (click)="deleteMusic(music)"> Retirer {{music}}</button>
  </div>


</form>
<div class="userquizzes">
  <h2> Quizs de l'utilisateur : </h2>
  <button [routerLink]="['/ListeQuizAdable']">Ajouter</button>
</div>

<div>
  <br>
  <span>
    <div *ngFor="let quiz of UserModified.quizzes">
      <app-Quiz [quiz]="quiz" (deleteQuizz)="deleteQuizForProfile($event)"></app-Quiz>
    </div>
  </span>

</div>
<div>
  <button (click)="applyChanges()" [routerLink]="['/ListeUserPage']">confirmer les changements</button>
  <button (click)="cancelChanges()">annuler les changements</button>
</div>
</ng-container>
