div{
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    width: vw;
    
  }
  
  button{
    font-weight: bold;
  }

  .button-card:hover {
    cursor: pointer;
    background-color: #7f858ed1;
    color: #F2F2F2;
}
