

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.retour {

  justify-content: flex-start;
}


.menu {
  display: flex;
  flex-direction: line;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.button-card {
  display: inline-block;
  width: 30vw;
  height: 30vw;

}
