

div{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  
}

.question-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: #222831;
  padding: 2rem;
  align-items: center;
  width: 300px;

}

.Question{
  flex-basis: calc(33% - 1rem);
  width : 600 px;
  
}