<ng-container *ngIf="quizReady">
<button class="button-card" [routerLink]="['/ListeQuizPage']"(click)="playBackSound()">Retour</button>
<h1>{{currentQuiz.name}}</h1>

    <div class="question">
        <h2> Questions presentes dans le quiz : </h2>
        <button [routerLink]="['/ListeQuestionAdable']">Ajouter</button>
    </div>
    
    <div>
        <br>
        <span class="card">
            <div *ngFor="let question of currentQuiz.questions">
                <app-Question [question]="question" (deleteQuestion)="removeQuestionForQuiz($event)"></app-Question> 
            </div>
            <div *ngFor="let question of currentQuiz.easyQuestions">
                <app-Question [question]="question" (deleteQuestion)="removeQuestionForQuiz($event)"></app-Question> 
            </div>
        </span>
    </div>
</ng-container>
