<p>quiz-edit works!</p>
<h1>{{currentQuiz.name}}</h1>
<button [routerLink]="['/ListeQuestionAdable']">Ajouter</button>

<!-- <div >
    <span>
        <h2> Quizs de l'utilisateur : </h2>

        <button [routerLink]="['/ListeQuizAdable']">Ajouter</button>
    
        
            <div *ngFor="let question of UserModified.quizzes">
                 <app-Question [question]="question" (deleteQuizz)="deleteQuestionForQuiz($event)"></app-Question> 
            </div>
        
    </span>

</div> -->
