h1 {
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }

  h2 {
    color: #fff;
    font-size: 2em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px; 
    margin-top: 30px;
  }
  
  button {
    background-color: #00adb5;
    border: none;
    color: #fff;
    padding: 15px 30px; 
    border-radius: 25px; 
    font-size: 1.2em; 
    width: 250px;
    text-align: center;
    transition: background-color 0.3s; 
  }
  
  button:hover {
    background-color: #1edec7; 
  }
  