<h1>Fin de la partie</h1>
<div class="buttons-container">
  <h1>Vous avez mis {{minutes}} minutes et {{secondes}} secondes, Bravo !</h1>
  <button [routerLink]="['/GamePageComponent']">Refaire le Quiz</button>
  <button [routerLink]="['/ChoixQuiz']">Choisir un autre quiz</button>
  <button *ngIf="!StatsOn" (click)="statsOn()">Afficher les réponses</button>
  <div *ngIf="StatsOn">
      <span>
        <ul>
          <h1>Question | Réponse</h1>
          <div *ngFor="let question of questionsJustes; index as i">
            <li>
              <!-- print both elements of the label -->
              <h2>{{question.label}} : {{answersJustes[i]}}</h2>
            </li>
          </div>
        </ul>
      </span>
  </div>
</div>

