@import "../../../../variable.scss";

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.Quiz {
  flex-basis: calc(33% - 1rem);
  max-width: calc(33% - 1rem);
  
}

.button-card:hover {
  background-color: $c_buttonAccept;
}