@import "../../../../variable.scss";

div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}

input{
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}


div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    
}
h2{
    color :$c_textColor;
    margin-top: 30px;
    text-align: center;
}
th, td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid $c_textColor;
  }
  
  th {
    color :$c_textColor;
  }
  
  td {
    color :$c_textColor;
    font-size: 1.2rem;
  }
