<h1>Stats de l'utilsateur</h1>
<div>
  <button [routerLink]="['/UserProfilePage']">Retour</button>
</div>
<br>
<div>
  <input type="text" value={{User.surname}} placeholder={{User.surname}} />
  <input type="text" value={{User.name}} placeholder={{User.name}} />
</div>
<div *ngFor="let quiz of User.quizzes">
  <h1>{{quiz.name}}</h1>
  <ul>

    <div *ngFor="let question of quiz.questions">
      <li>
        <h2>{{question.label}} : {{question.trueAnswer / (question.falseAnswer + question.trueAnswer) * 100}} %</h2>
      </li>
    </div>
  </ul>
</div>
