<h1>Stats de l'utilisateur</h1>
<div>
  <button [routerLink]="['/UserProfilePage']"(clic)="switchPage()">Retour</button>
</div>
<br>
<div>
  <input type="text" value={{User.surname}} placeholder={{User.surname}} />
  <input type="text" value={{User.name}} placeholder={{User.name}} />
</div>
<div *ngFor="let stat of Stats">
  <table>
    <h2>{{stat.quiz.name}}</h2>
    <tr>
      
      <th>Questions normales et taux de réussite</th>
      
    </tr>
    <span>
        <tr *ngFor="let question of stat.quiz.questions; let i=index;">
          
      
          <td>{{question.label}}</td>
          <td>{{stat.bonnesReponses[i] / (stat.mauvaisesReponses[i] + stat.bonnesReponses[i]) * 100}}%</td>
        </tr>
      
    </span>
    <tr>
      
      <th>Questions faciles et taux de réussite</th>
      
    </tr>
    <span>
      <tr *ngFor="let question of stat.quiz.easyQuestions; let i=index;">
        
    
        <td>{{question.label}}</td>
        <td>{{stat.bonnesReponses[i+stat.quiz.questions.length] / (stat.mauvaisesReponses[i+stat.quiz.questions.length] + stat.bonnesReponses[i+stat.quiz.questions.length]) * 100}}%</td>
      </tr>

  </span>
  <h2>temps moyen : {{stat.timerMoyen/1000}} secondes</h2>
</table>
</div>
