h1{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

.quiz-List {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #222831;
}


button{
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    background-color: #8e939bc7;
}
