h1{
    color: #fff;
    margin-top: 30px;
    text-align: center;
}

.quiz-List {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-around;
  background-color: #222831;
}


button{
    background-color: #4d535dc6;
    border: solid 1px #F2F2F2;
    color:#f2f2f2;
    font-weight: bold;
    padding: 0.5em 1em;
    margin-top: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover{
    cursor: pointer;
    background-color: #8e939bc7;
}
