@import  "../../../../variable.scss";

.card {
  justify-content: space-between;
  position: relative;
  width: 20vw;
}

.card:hover {
  box-shadow: $c_shadow;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color: $c_textLightColor;
}

.button-card:hover {
  background-color: $c_buttonAccept;
}

.delete {
  margin-left: 0.3em;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
