@import "../../../../variable.scss";

.card {
  justify-content: space-between;
  position: relative;
}

.card:hover {
  box-shadow: $c_shadow;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color:$c_textLightColor
}

h3{
  font-size: 1.2em;
  margin: 0;
  color:$c_textLightColor
}

.button-card:hover {
  background-color: $c_buttonAccept;
}

.delete {
  margin-left: 0.3em;
}
div{
  align-items: center;

}

#iconImage{
  $size:3em;
  position: absolute;
  top: calc(-1*($size/3));
  right: calc(-1*($size/3));
  width: $size;
  height: $size;
}

#SupressButton:hover{
  background-color: $c_deepRed;
}
