@import "../../../../variable.scss";
$card-hover-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);

.card {
  justify-content: space-between;
  position: relative;
}

.card:hover {
  box-shadow: $card-hover-shadow;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color:$c_white
}

h3{
  font-size: 1.2em;
  margin: 0;
  color:$c_white
}

.button-card:hover {
  background-color: #00ff008a;
}

.delete {
  margin-left: 0.3em;
}
div{
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
