$grey-background-color: #f2f2f2;
$blue: #3f51b5;
$white: white;
$card-border-color: #ccd0d5;
$card-hover-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);

.card {
  background: #5373a3;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem;
  position: relative;
  padding: 1em;
  border: solid 1px $card-border-color;
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: $card-hover-shadow;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  color:#f2f2f2
}

h3{
  font-size: 1.2em;
  margin: 0;
  color:#f2f2f2
}

.button-card {
  font-weight: bold;
}

.button-card:hover {
  cursor: pointer;
  background-color: #00ff008a;
  color: $white;
}

.delete {
  margin-left: 0.3em;
}
div{
  background-color: #222831;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
