<div *ngIf="answer.type=='text'">
    <button *ngIf="selected && answer.isCorrect" class="answer_selected_true hard" >{{answer.value}}</button>
    <button *ngIf="selected && !answer.isCorrect" class="answer_selected_false hard" >{{answer.value}}</button>
    <button *ngIf="!selected" class="answer hard" (click)="selectAnswer()" >{{answer.value}}</button>
</div>
<div *ngIf="answer.type=='image'">
    <button *ngIf="selected && answer.isCorrect" class="answer_selected_true hard" ><img src={{answer.value}}></button>
    <button *ngIf="selected && !answer.isCorrect" class="answer_selected_false hard" ><img src={{answer.value}}></button>
    <button *ngIf="!selected" class="answer hard" (click)="selectAnswer()" ><img src={{answer.value}}></button>
</div>