button.answer_selected_true {
    background-color: lightgreen;
}

button {
    img {
      height: 100%;
    }


    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }


button.answer {
  &:hover {
    background-color: #00959d; 
  }
}


div {
  height: 100%;
}
