button.answer_selected {
    background-color: lightgreen;
}

button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 20px;
    margin-top: 30px;
    align-self: center;
  }