.profile {
    background: #5373a3;
    border-radius: 4px;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 20vw;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    color:#f2f2f2;

    button {
      font-size: 0.9rem;
      font-weight: bold;

      &:hover {
        background-color: #00ff008a;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

.mod {
  display: none;
}
