@import "../../../../variable.scss";
.profile {
    border-radius: 4px;
    padding: 1rem;
    margin: 0;
    margin-bottom: 1rem;
    width: 20vw;
    font-family: Arial, sans-serif;
    font-size: 1.5em;

    button {

      &:hover {
        background-color: $c_buttonAccept;
      }

      &:not(:last-child) {
        margin-right: 0.5rem;
      }
    }
  }

.mod {
  display: none;
}
