@import "../../../../variable.scss";

div{
  background-color: $app-background-color;

  align-items: center;
  color: $c_textColor;
}

h2{
  font-size: 1.5em;
  margin: 0;
  text-align: center;
  color:$c_textColor;
  
}

label{
  color: $c_textColor;
  align-items: center;
}

.card {
  display: inline-block;
  position: relative;
  align-items: center;
}

.edit {
  margin-left: 0.3em;
  align-items: center;
 
}

legend{
  color: $c_textColor;
  align-items: center;
}

span{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}