<div>
    <button class="button-card" [routerLink]="['/ListeQuestionPage']">Retour</button>
</div>
<h1> Choisir le type de question</h1>
<span>
    <div class="card">
        <h2>Réponses Texte</h2>
        <button data-testid="textanswer" type="submit" class="button-card" (click)="selectType('text')"  [routerLink]="['/QuestionForm']">Select</button>
    </div>
    <div class="card">
        <h2>Réponses Image</h2>
        <button data-testid="imageanswer" type="submit" class="button-card" (click)="selectType('image')"  [routerLink]="['/QuestionForm']">Select</button>
    </div>
</span>
