$grey-background-color: #f2f2f2;
$white:white;


h1{
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 50px;
  color: #ffffff;
}

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  background-color: #222831;
  padding: 2rem;
}

.button-card {
  background-color: #4d535dc6;
  border: solid 1px $white;
  color:#f2f2f2;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-top: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

.button-card:hover {
  cursor: pointer;
  background-color: #00ff008a;
  color: $white;
}

.Quiz {
  flex-basis: calc(33% - 1rem);
  max-width: calc(33% - 1rem);
  
}

button{
  background-color: #4d535dc6;
  border: solid 1px #F2F2F2;
  color:#f2f2f2;
  font-weight: bold;
  padding: 0.5em 1em;
  margin-top: 1rem;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #7f858ed1;
  color: #F2F2F2;
}