@import "../../../../variable.scss";

.quiz-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.button-card:hover {
  background-color: $c_buttonAccept;
}

.Quiz {
  flex-basis: calc(33% - 1rem);
  max-width: calc(33% - 1rem);
  
}

div {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
}

h2 {
  color: $c_textColor;
  text-align: center;
  margin-top: 30px;
}