/* You can add global styles to this file, and also import other style files */
:root{
    --bouton_couleur_principale:#494949;
    --bouton_couleur_principale_accentuation:#f2f2f2;

    --bouton_hard_couleur_hover:#00adb5;
    --bouton_hard_couleur_hover_accentuation:#494949;
}

html{background-color: #222831;}

button {
    border-radius: 5px;
    color: var(--bouton_couleur_principale_accentuation);
    background-color: var(--bouton_couleur_principale);
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border: solid 1px var(--bouton_couleur_principale_accentuation);

}

button.hard{
    border: none;
}

button.soft{
    border: solid 1px var(--bouton_couleur_principale_accentuation);
}

button:hover {
    cursor: pointer;
}

button.hard:hover {
  background-color: var(--bouton_hard_couleur_hover);
  color: var(--bouton_hard_couleur_hover_accentuation)
}

/* copy paste this switch button
    <label class="switch">
        <input type="checkbox" >// your input
        <span class="switch_handle"></span>
    </label>

*/
.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 42px;
    height: 24px;
    margin-bottom: 20px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .switch_handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: grey;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .switch_handle:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  input:checked + .switch_handle {
    background-color: green;
  }
  
  input:focus + .switch_handle {
    box-shadow: 0 0 1px green;
  }
  
  input:checked + .switch_handle:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }