@import "./variable.scss";

html{
  background-color: $c_Background;
  color: TextColor($c_Background)
}
body {
  overflow-x : hidden;
}
*{
    transition: all 0.3s ease;
    color:inherit;
    
}

h1{
  text-align : center;
  color : inherit;
  margin : 1em;
}

button {
    background-color: $c_buttonColor;
    color: TextColor($c_buttonColor);
    padding: 0.5em 1em;
    margin: 0.5em 1em;
    border: solid 1px $c_textLightColor;
    border-radius: 5px;
    box-shadow: $c_shadow;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    white-space: break-spaces;
    font-size: 1em;

    &:hover{
      background-color: accentuate($c_buttonColor,$c_percentageOnHover);
      color: accentuate(TextColor($c_buttonColor),$c_percentageOnHover);
      cursor: pointer;
    }

}

button.hard{
    background-color: $c_ButtonHardColor;
    color: TextColor($c_ButtonHardColor);
    border: none;
    font-size: calc(4vw);

    &:hover {
      background-color: accentuate($c_ButtonHardColor,$c_percentageOnHover);
    }
}

button.soft{
    border: none;
    font-size: 0.8em;
}

input{
  padding: 1em;
  margin: 1vw;
  background: #0000002b;
  border: solid 1px $c_textLightColor;
  color: $c_textLightColor;
  border-radius: 8px;
  & [type]:not([type="checkbox"]){//Tout les inputs qui ne sont pas des checkbox
    width: 33vw;
  }
}

.card{
  background-color: changeOpacityTo($c_cardColor, $c_percentageCardAlpha);
  color : TextColor($c_cardColor);
  border: solid 1px $c_textLightColor;
  border-radius: 8px;
  display: flex;
  margin: 1rem;
  padding: 1em;
  flex-direction: column;
  &:hover{
    box-shadow: BorderColor($c_cardColor);
  }
}

.side-card{
  z-index: 10;
  background-color: changeOpacityTo($c_cardColor, $c_percentageCardAlpha);
  color : TextColor($c_cardColor);
  border: solid 1px $c_textLightColor;
  border-radius: 8px;
  display: flex;
  margin: 1rem;
  padding: 1em;
  flex-direction: column;
  &:hover{
    box-shadow: BorderColor($c_cardColor);
  }

}

/* copy paste this switch button
    <label class="switch">
        <input type="checkbox" >// your input
        <span class="switch_handle"></span>
    </label>

*/
.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 42px;
    height: 24px;
    box-shadow: none;
    & input{
    opacity: 0;
    width: 0;
    height: 0;
    }
  }
  
  .switch_handle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $c_buttonColor;
    border-radius: 34px;
    -webkit-transition: .4s;
    transition: .4s;

    &:before{
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: $c_textLightColor;
      border-radius: 50%;
      transition: 0.4s;
    }
  }
  
  input:checked + .switch_handle {
    background-color: green;
  }
  
  input:focus + .switch_handle {
    box-shadow: $c_shadow;
  }
  
  input:checked + .switch_handle:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  .popupBack{
    background-color: #00000063;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .popup{
    z-index: 10;
    background-color: $c_cardColor;
    color:TextColor($c_cardColor);
    display: flex;
    flex-direction: column;
    border-radius: 2em;
    align-items: center;
    border:solid 3px $c_textLightColor;
    box-shadow: $c_shadow;
  }