$c_darkBackground : #222831;
$c_grey : #454545;
$c_white : #f2f2f2;
$c_cyan : #4aa6ab;
$c_cyan_hover : #28f4ff;
$c_percentageOnHover : 30;
$c_darkPanel : #1818185d;
$c_darkPanelPlain : #181818;
$c_deepRed : #c40000;