$c_Background : #222831;
$c_textNoCardColor : #181818;
$c_buttonColor : #a4a4a4;
$c_cardColor : #7fa8ae;
$c_textLightColor : #e5e5e5;
$c_textDarkColor: #181818;
$c_ButtonHardColor : #4aa6ab;
$c_percentageOnHover : 30;
$c_percentageCardAlpha : 80;
$c_deepRed : #b10f0f;
$c_buttonAccept : #34a938;
$c_shadow: 0 2px 3px;

@function changeOpacityTo($hex, $opacity) {
    $red: red($hex);
    $green: green($hex);
    $blue: blue($hex);
    $rgba: rgba($red, $green, $blue, calc($opacity/100));
    @return $rgba;
  }

  @function accentuate($color, $percentage) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);

    @if $red==$green and $red==$blue{
        $grayLevel: round(calc(($red + $green + $blue) / 3));
        @if $grayLevel < 60 { //si sombre
            @return mix($color, black, $percentage*1%);
        } @else { //si clair
            @return mix($color, white, $percentage*1%);
        }
    }
    @else {
      @return saturate($color, $percentage);
    }
    @return $color;
  
  }

  @function TextColor($color) {
    $grayLevel: round(calc((red($color) + green($color) + blue($color)) / 3));
    @if $grayLevel < 60 {
        @return $c_textLightColor
    } @else {
        @return $c_textDarkColor;
    }
  }

  @function BorderColor($color){
    @return #{$c_shadow} TextColor($color);
  }

  /**
  theme oasis :)
  $c_Background : #fffaee;
$c_buttonColor : rgb(144, 205, 218);
$c_textLightColor : #232323;
$c_ButtonHardColor : #4aa6ab;
$c_percentageOnHover : 30;
$c_cardColor : #ffdcb9;
$c_percentageCardAlpha : 50;
$c_deepRed : #c40000;
**/