<!-- <h1>{{title}}</h1> -->
    <div id="musicPanel" class="card" [ngClass]="{'slide-in': isSlidingIn}">
        <button (click)="toggleSlide()"></button>
        <div>
            Musique
            <label class="switch">
                <input type="checkbox" (change)="ChangeMusic($event)" [checked]="getMusicActivated()">
                <span class="switch_handle"></span>
            </label>
            
            Effets Sonores:
            <label class="switch">
                <input type="checkbox" (change)="ChangeEffects($event)" [checked]="getEffectsActivated()">
                <span class="switch_handle"></span>
            </label>
        </div>
    </div>
<div class="main-content">
    <router-outlet></router-outlet>
</div>
